<a href="https://colab.research.google.com/github/Samanthacn/My-Computational-Thinking/blob/master/week13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

range()
隨堂練習3:請用range()函數建立下面的數字串列。

In [29]:
a=range(0,10)
print(a[0],a[1],a[2],a[3],a[4],a[5],a[6],a[7],a[8],a[9])

0 1 2 3 4 5 6 7 8 9

In [31]:
b=range(0, 10, 2)
print(b[0],b[1],b[2],b[3],b[4])

0 2 4 6 8

In [38]:
c=range(5, 11, 2)
print(c[0],c[1],c[2])

5 7 9

In [33]:
d=range(0, -10, -1)
print(d[0],d[1],d[2],d[3],d[4],d[5],d[6],d[7],d[8],d[9])

0 -1 -2 -3 -4 -5 -6 -7 -8 -9

In [37]:
print(d[0])
print(d[1])
print(d[2])
print(d[3])
print(d[4])
print(d[5])
print(d[6])
print(d[7])
print(d[8])
print(d[9])

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

單元作業
請用串列來建立期末專題分組報告名單,包括專題題目(project_title)、成員姓名
(name_list)、成員學號(number_list)、分工內容(duty_list)、分工比重(load_list)。同時,請
用切片的方法,告訴我組長的姓名、學號,以及負責的分工內容與比重。

In [65]:
project_title="簡易計算機"
name_list="林龍億,王心如,黃奕昕,吳泓毅,呂欣恩"
group_leader="呂欣恩"
number_list=['A109260102','A109260076','A105260027','A107260029','A106070272']
duty_list=['文書整理','主題構思','主題構思','程式設計','程式設計']
load_list=['20%','20%','20%','20%','20%']
print(group_leader,number_list[4],duty_list[4],load_list[4])

呂欣恩 A106070272 程式設計 20%

for迴圈
隨堂練習1:寫一個程式計算數字2到10偶數之和。

In [67]:
sum=0
for i in range(2,11,2):
 sum=sum+i
print("Total is:" , sum)

Total is: 30

隨堂練習2: 寫一個程式計算數字3到13之間,每隔3個數字之和。

In [68]:
sum=0
for i in range(3,13,3):
 sum=sum+i
print("Total is:" , sum)

Total is: 30